.footer {
  background-color: #f8f9fa;
  padding: 30px 0;
}

.footer h3 {
  color: #333;
  font-size: 18px;
}

.footer p {
  color: #777;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #777;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #333;
}

nav {
  font-family: LuciaBT;
}

/* Estilos para el formulario */
#formulario-contacto {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilos para el botón de envío */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}


/* Estilos para las etiquetas */
label {
  display: block;
  margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilos para el botón de envío */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
